.status-bar {
  color: black;

  /* position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box; */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 10px 10px;
}
